.button {
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-background-color: #000000;
}
.b-style1,.b-style2,.b-style3{
    -fx-min-width: 30px;
    -fx-max-width: 30px;
}
.b-style1{
    -fx-background-color: seagreen;
}
.b-style2{
    -fx-background-color: goldenrod;
}
.b-style3{
    -fx-background-color: slategrey;
}
